nav >ul {
    text-align: center;
    color: white;
    font-family: Merriweather;
    font-size: 32px;
    
}
nav li{
    list-style: none;
}
.nwyr{
    background-image:url("../resources/Banner\ Image.png");
    background-size: auto;
    background-size:1320px 600px;
    background-repeat: no-repeat;
    position: center;
    top: 50%;
    left: 50%;
    padding: 100px 345px 250px 300px;
border-radius: 16px;
margin: 0px;
}
body{
    font-family: 'Merriweather', serif;
}
.party{
    font-size: 150pxpx;
}
.offer{
  
    color: #F00;
    font-size: 88px;
font-weight: 700;
}
.offer2{
    color: #F00;
   
font-size: 18px;
font-weight: 500;
}
.offer{
   
    color: #070211;
    font-size: 48px;
font-weight: 700;
padding-bottom:50px ;

}
.hdings{
    text-align: center;
}
.banner{
    text-align: center;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
}
/* .party{
    color: white;
    font-family: Merriweather;
    font-size: 32px;

} */
.party{
    color: white;
    font-family: Merriweather;
    font-size: 32px;
}
.Party{
    background-image: url(../resources/Vectorrr.png);
    background-size: auto;
    background-size:1200px 600px;
    background-repeat: no-repeat;
    position: center;
    top: 50%;
    left: 50%;
    padding: 100px 345px 250px 300px;
border-radius: 16px;
margin: 0px;
}
.btn{
    text-decoration: none;
}
.PDT{
    text-align: center;
    margin-left:  100px;
    margin-right:  100px;

    padding: auto;
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; ;
}
span{
    color: #F00; 
}
#crclPc{
    width: 200.844px;
    height: 200.844px;
    border-radius: 50%;
    border: 15px solid #F00;
    padding: 20px;
}
.cmngSon{
    display: flex;
    /* justify-content: space-around; */

}
.offer00{
    color: #F00;
   
    font-size: 15px;
   
    font-weight: 15px;
   
}
#2024{
    color: #F00;
    font-size: 25px;
    font-weight: 25px;  
}
.undrCrcl{
    text-align: center;
    /* margin: 20px; */
    padding: 100px;
}
.undrSL{
    background-image: url(../resources/Rectangle\ 2.png);
    background-repeat: no-repeat;
    /* background-repeat: no-repeat; */
    background-size: 1320px 229px;
    background-position: bottom center;
   
text-align: center; 
/* background-image: url(../resources/Rectangle\ 1.png); */
}
.bstgft{
    text-align: left;
}
.images{
    display: grid;
    grid-template-rows: 450px 450px 450px;
    grid-template-columns:400px 400px 400px ;
    grid-gap: 40px 40px;
    justify-content: center;
}

